












{%extends "headerfooter.html"%}

{% block content %}

    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Contact Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Contact</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- contact section -->
    <section class="w3l-contact-11 py-5" id="contact">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-5"><span>Doctors </span> List</h3>
            <div class="row text-center mb-5 pb-lg-5 pb-sm-4">
                <div class="col-lg-3 col-sm-6 contact-info">
                    <i class="fas fa-map-marked-alt"></i>
                    <h4>Location</h4>
                    <p>London, 235 Terry, 10001</p>
                </div>
                <div class="col-lg-3 col-sm-6 contact-info mt-md-0 mt-4">
                    <i class="fas fa-headset"></i>
                    <h4>Phone</h4>
                    <p><a href="tel:+44 987 654 321">+44 123 984 439</a></p>
                </div>
                <div class="col-lg-3 col-sm-6 contact-info mt-lg-0 mt-4">
                    <i class="fas fa-envelope-open-text"></i>
                    <h4>Email</h4>
                    <p><a href="mailto:mail@example.com" class="email">mail@example.com</a></p>
                </div>
                <div class="col-lg-3 col-sm-6 contact-info mt-lg-0 mt-4">
                    <i class="fas fa-user-clock"></i>
                    <h4>Working Hours</h4>
                    <p>24 Hours</p>
                </div>
            </div>
   





<style>
		table,td,th{
			border: 1px solid black;
			/*border-collapse: separate;*/
			padding: 10px;
			border-width: 4px; 
 			font-weight: 600;
 			margin-bottom: 20px;


		}

			th
		{
			background-color:silver;
			color: darkred; 
			margin-bottom: 10px;

		}
			tr
		{background-color: grey;
		 color: darkblue;
		 margin-bottom: 30px;	
		}	

	</style>
	<table width="100%">
		<colgroup>
			<col span="1">
	<tr>
		<th>Dr Name</th>
		<th>Specilised</th>
		<th>time</th>
		<!-- <th>Email</th>
		<th>password</th> -->
		
	</tr>		
		</colgroup>
		{% for x in viewqurey %}
		<tr>
			<td>{{x.dname}}</td>
			<td>{{x.specailised}}</td>
			<td>{{x.available}}</td>
			<!-- <td>{{x.email}}</td>
			<td>{{x.password}}</td> -->
			<!-- <td style="color: red; background-color: yellow; text-align: center; "><a href="/delete/?uid={{x.id}}"> delete</td></a> -->
			<!-- <td style="color: red;text-align: center; "><a href="/update/?uid={{x.id}}"> update</td></a> -->
			<!-- <td><a href="/downloadtc/?uid={{x.id}}">Download</a></td> -->


		</tr>
		{% endfor %}
		<br>
		<tr>
			
		</tr>

</table><br><br>












    <!-- map -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2spl!4v1562654563739!5m2!1sen!2spl"
            width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
    </div>
    <!-- //contact section -->
    <br>
    <br>

    <h4>Our next consultancy...</h4>


     <div class="map1">

     	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31236.406224144856!2d75.35235322104576!3d11.866685810296046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba422b9b2aca753%3A0x380605a11ce24f6c!2sKannur%2C%20Kerala!5e0!3m2!1sen!2sin!4v1648705044922!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     </div>
    {% endblock %}

